@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* common selectors */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --maintclr:#a01722;
    --mainclr:linear-gradient(to left, #ed213a, #93291e);
    --mainclrd: #ffaeb4;
    --lightclr:#b0b0b0;
    --tclr:#181028;
    --pft: 'Merriweather', serif;
    --hft:'Montserrat', sans-serif;

}

html{
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
    height: 100%;
}

p{
    font-family: 'Merriweather', serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;

}

a{
    text-decoration: none;
    cursor: pointer;
    display: inline-block !important;
}

a:hover{
    color: var(--maintclr) !important;
}

ul li{
    list-style: none;
}

.logo{
    width: 7rem;
}

.nav-link{
    border-radius: 5%;
    transition: .5s all linear;
}

.nav-link:hover{
    color: white !important;
    background: var(--mainclr);
}

.navbar-toggler:focus{
    box-shadow: none;
}

.headline{
    letter-spacing: .4rem;
    line-height: 1.1;
}

video{
    width: 20rem;
}

.net{
    color:transparent;
    -webkit-text-stroke: .2rem;
    -webkit-text-stroke-color: var(--maintclr);
}

.hello{
    background: var(--mainclr) !important;
    color: whitesmoke;
}

.hello:hover{
    background: var(--lightclr) !important;
    color: var(--tclr) !important;
}

.brochure{
    background: var(--lightclr);
    /* margin-bottom: .5rem; */
}

.brochure:hover{
    background: var(--mainclr);
    color: #f0f0f0 !important;
}

.hero{
    position: relative;
    overflow: hidden;
}
.info img{
    transition: .5s all linear;
}
.info img:hover{
    transform: scale(1.1);
}

.shape{
    background-color: var(--lightclr);
    width: 120rem;
    height: 35rem;
    border-radius: 0 0 70% 60%;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: .1;
}

.brief{
    /* width: 100vw; */
    display: block;
    background: var(--mainclr)
}


.member-area h2{
    color: transparent;
    -webkit-text-stroke: .2rem;
    -webkit-text-stroke-color:var(--mainclr) ;
}

.text-slider{
    background-color: white;
    overflow-x: hidden;
    
}

.text-slider h5{
    margin-top: 5px;
}

.offer-info h5{
    color: var(--maintclr);
}
.offer-info p{
    color: var(--tclr);
}

.product-info span{
    color: var(--maintclr);
}



.client-info h2{
    color: transparent;
    -webkit-text-stroke: .1rem;
    -webkit-text-stroke-color: var(--maintclr) ;
}

.card{
    overflow: hidden;
    transition: transform .5s;
    
}


.card h5{
    font-weight: bold;
    color: var(--tclr) !important;
    font-size: medium;
}

.card a h5:hover{
    color: var(--maintclr) !important;
}

.card:hover img{
    transform: scale(1.2);
}

.cta-info{
    background: var(--mainclr);
    border-radius: 20px;
}
.cta-button{
    padding: 1rem;
    border-radius: 15px;
    background: white;
    font-size: large;
    font-weight: bold;
    color: var(--tclr);
    transition: .5s all linear;
}

.cta-button:hover{
    border-radius: 0;
}



.footer-area h5{
    color: var(--maintclr);
}
ul{
    padding: 0;
    margin: 0;
}

.footer-area i{
    color: var(--maintclr);
}

.footer-area a{
    color: var(--tclr);
}

.footer-area img{
    width: 25%;
}

.flogo{
    width: 70% !important;
}

.bbar-area{
    background: var(--mainclr);
}

/* chat button  */

/* .big-footer{
    position: relative;
} */

.fa-comment-sms{
    position: fixed;
    right: 2rem !important;
    bottom: 2.5rem;
    background: var(--mainclr);
    color: whitesmoke;
    
}
.fa-angles-up{
    position: fixed;
    right: -1rem !important;
    bottom: 20rem;
    background: var(--mainclr);
    color: whitesmoke;
    
}